<div class="container-fluid">
  <nav class="navbar fixed-top navbar-light bg-light">
    <a class="logo" href="https://www.seevoov.com/" target="_blank">
      <img class="logo" src="../assets/logo-color.svg" alt="SeeVoov logo">
    </a>

    <ul class="nav justify-content-end align-items-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user-profile" routerLinkActive="active">User Profile (desktop)</a>
      </li>
    </ul>
  </nav>

  <main id="main-content">
    <div class="container main-content">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="navbar navbar-light bg-light fixed-bottom">
    <a href="https://www.seevoov.com/">
      SeeVoov
    </a>
  </footer>
</div>
