:host {
  position: fixed;
  top: 10vh;
  right: 10vw;
  bottom: 10vh;
  left: 10vw;
  padding: 25px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  z-index: 1000;
}

img {
  width: 25%;
  float: left;
  margin: 0 30px 30px 0;
}

:host ::ng-deep .mat-tab-label {
  text-transform: uppercase;
}
