@import "~bootstrap/scss/bootstrap";
@import "~jquery.flipster/dist/jquery.flipster.min.css";
@import './assets/styles/constants';

a {
  transition: color 0.3s;
}

.nav-link {
  cursor: pointer;
}

img {
  max-width: 100%;
}
