<div class="desktop-container" *ngIf="!isMobileResolution; else mobileContainer">
  <div class="top-user-profile-wrapper">
    <header class="user-profile-header-wrapper container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="user-profile-header">
              <h1 class="user-name">
                User Namovich
              </h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="user-profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="text-capitalize">Account Info</h2>

            <form class="user-profile-form" novalidate>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="profile-form-email">
                  Email
                </label>
                <div class="col-sm-9">
                  <input type="email"
                         id="profile-form-email"
                         class="form-control"
                         readonly
                         placeholder="user@example.com">
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label" for="profile-form-password">
                  Password
                </label>
                <div class="col-sm-9">
                  <input type="password"
                         class="form-control"
                         id="profile-form-password"
                         readonly
                         placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                         formControlName="password">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="top-user-profile-overlay" (click)="close()"></div>
</div>

<ng-template #mobileContainer>
  <header class="user-profile-header">
    <h1 class="user-name">
      User Namovich
    </h1>
  </header>

  <main class="main-user-profile-content">
    <section class="account-info">
      <h2>
        Account info
      </h2>

      <form class="user-profile-form" novalidate>
        <div class="form-group">
          <label for="profile-form-email">
            Email
          </label>
          <input type="email"
                 id="profile-form-email"
                 readonly
                 placeholder="user@example.com">
        </div>

        <div class="form-group">
          <label for="profile-form-password">
            Password
          </label>
          <input type="password"
                 id="profile-form-password"
                 readonly
                 placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
        </div>
      </form>
    </section>
  </main>
</ng-template>
